# Xcode user state (repo'ya girmesin)
**/xcuserdata/
**/UserInterfaceState.xcuserstate

# SwiftPM build
.build/

# Firebase config
googleService-Info.plist
GoogleService-Info.plist
**/GoogleService-Info.plist

# Ignore Firebase config
**/GoogleService-Info*.plist
